{% extends 'profile.html' %}
{% load static %}
{% block content %}
<style type="text/css">
	.image-container{
		max-width: 250px;
		height:auto;
		position: relative;
		left:40%;
	}
	.field-heading{
		color: #737373;
	}
	#id_confirm{
		color: green;
	}
	#id_confirm:hover {
		opacity: 0.3;
	}
	#id_cancel:hover {
		opacity: 0.3;
	}
	#id_cancel{
		color: red;
	}
	.material-icons{
		font-size: 30px;
	}
	.material-icons:hover{
		cursor: pointer;
	}
</style>	
	
<link rel="stylesheet" href="{% static 'css/profile.css' %}">



<div class="container"  >
  <div class="content-center">
    <div class="cc-profile-image"><a href="#">
          <img class="border border-dark rounded-circle img-fluid mx-auto profile-image" src="{{user.profile_image.url}}" alt="">
    </a></div>
    <div class="h2 title">{{user.username}}</div>
  </div>
</div>



<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="profile-nav col-md-3">
        <div class="panel">
               <ul class="nav nav-stacked">
                <li class="active profile" ><a href="{% url 'profile' user.id %}"> <i class="fa fa-user"></i> Profile</a></li>
                <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li>
                <li class="active edit"><a href="{% url 'updateprofile' user.id %}"> <i class="fa fa-edit"></i> Edit profile</a></li>
            </ul>
        </div>
    </div>
  
    <div class="profile-info col-md-9">
        {% comment %} <div class="panel">
            
        </div> {% endcomment %}
        <div class="panel">
            <div class="bio-graph-heading">
                Edit your profile 
            </div>
			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="card profile-card">
					  <div class="card-body">
						  <div class="d-flex flex-column justify-content-center p-4">
							  <div class="mb-2" id="id_image_crop_confirm">
								  <span id="id_cancel" class="material-icons"><i class="fa-solid fa-circle-x"></i></span>
								  <span id="id_confirm" class="material-icons"><i class="fa-solid fa-check"></i></span>
							  </div>
							  <div class="image-container" id="id_image_container">
								  <img style="max-width:75%;right:30%;" id="id_profile_image_display" src="{{user.profile_image.url}}" alt="">
								<div class="middle" id="id_middle_container">
									<div class="text" id="id_text">Edit</div>
								</div>
							  </div>
							  <form method="post">
									{% csrf_token %}

									{{form.profile_image}}
							
									{{form.username.label_tag}} 
									{{form.username}}
				
									{{form.email.label_tag}} 
									{{form.email}}
				
									{{form.age.label_tag}} 
									{{form.age}}
				
									{{form.disponibility.label_tag}} 
									{{form.disponibility}}
				
									{{form.address.label_tag}} 
									{{form.address}}
				
									{{form.prefer_activity.label_tag}} 
									{{form.prefer_activity}}
							
								{% for field in form %}
								<p>
								{% for error in field.errors %}
								<p style="color: red">{{ error }}</p>
								{% endfor %}
								</p>
								{% endfor %}
								{% if form.non_field_errors %}
								<div style="color: red">
								<p>{{form.non_field_errors}}</p>
								</div>
				
								{% endif %}
								<div style=" height: 45px; margin: 35px 0;">
								<input style="height: 100%;
								width: 100%;
								border-radius: 5px;
								border: none;
								color: #fff;
								font-size: 18px;
								font-weight: 500;
								letter-spacing: 1px;
								cursor: pointer;
								transition: all 0.3s ease;
								background: linear-gradient(135deg, #ffcb05, #ec1c24);" type="submit" value="Edit">
								</div> 
							</form>
			
						  </div>
					  </div>
					</div>
				</div>
			</div>
			
                
         
        </div>
        <div>
           
        </div>
    </div>
    
    </div>

  </div>
  <script type="text/javascript">

	var cropper;
	var imageFile;
	var base64ImageString;
	var cropX;
	var cropX;
	var cropWidth;
	var cropHeight;

	enableImageOverlay()

	function enableImageOverlay(){
		var text = document.getElementById("id_text")
		text.style.backgroundColor = "#fbc02d"
		text.style.color = "white"
		text.style.fontSize = "12px"
		text.style.padding = "12px 24px"
		text.style.cursor = "pointer"

		var profileImage = document.getElementById("id_profile_image")
		profileImage.style.opacity = "1"
		profileImage.style.display = "block"
		profileImage.style.width = "100%"
		profileImage.style.height = "auto"
		profileImage.style.transition = ".5s ease"
		profileImage.style.backfaceVisibility  = "hidden"
		profileImage.style.cursor = "pointer"

		var middleContainer = document.getElementById("id_middle_container")
		middleContainer.style.transition = ".5s ease"
		middleContainer.style.opacity = "0"
		middleContainer.style.position = "absolute"
		middleContainer.style.top = "50%"
		middleContainer.style.left = "40%"
		middleContainer.style.transform = "translate(-50%, -50%)"
		middleContainer.style.textAlign = "center"

		var imageContainer = document.getElementById("id_image_container")
		imageContainer.addEventListener("mouseover", function( event ) { 
			profileImage.style.opacity = "0.3"
			middleContainer.style.opacity = "1"
		})

		imageContainer.addEventListener("mouseout", function( event ) { 
			profileImage.style.opacity = "1"
			middleContainer.style.opacity = "0"
		})

		imageContainer.addEventListener("click", function(event){
			document.getElementById('id_profile_image').click();
		});

		var cropConfirm = document.getElementById("id_image_crop_confirm")
		cropConfirm.classList.remove("d-flex")
		cropConfirm.classList.remove("flex-row")
		cropConfirm.classList.remove("justify-content-between")
		cropConfirm.classList.add("d-none")
		
	}

	function disableImageOverlay(){
		var profileImage = document.getElementById("id_profile_image_display")
		var middleContainer = document.getElementById("id_middle_container")
		var imageContainer = document.getElementById("id_image_container")
		var text = document.getElementById("id_text")

		imageContainer.removeEventListener("mouseover", function( event ) { 
			profileImage.style.opacity = "0.3"
			middleContainer.style.opacity = "1"
		})

		imageContainer.removeEventListener("mouseout", function( event ) { 
			profileImage.style.opacity = "1"
			middleContainer.style.opacity = "0"
		})

		profileImage.style.opacity = "1"
		middleContainer.style.opacity = "0"
		text.style.cursor = "default"
		text.style.opacity = "0"

		document.getElementById('id_image_container').removeEventListener("click", function(event){
			event.preventDefault();
			// do nothing
		});
		document.getElementById('id_profile_image').addEventListener("click", function(event){
			event.preventDefault();
			// do nothing
		});

		var cropConfirm = document.getElementById("id_image_crop_confirm")
		cropConfirm.classList.remove("d-none")
		cropConfirm.classList.add("d-flex")
		cropConfirm.classList.add("flex-row")
		cropConfirm.classList.add("justify-content-between")

		var confirm = document.getElementById("id_confirm")
		confirm.addEventListener("click", function(event){
			console.log("Sending crop data for processing...")
			cropImage(
				imageFile, 
				cropX, 
				cropY, 
				cropWidth,
				cropHeight
			)
		})

		var cancel = document.getElementById("id_cancel")
		cancel.addEventListener("click", function(event){
			console.log("Reloading window...")
			window.location.reload();
		})
	}

	/* return null if invalid or base64String if valid */
	function isImageSizeValid(image){
		//console.log("max size: {{DATA_UPLOAD_MAX_MEMORY_SIZE}}")
		// console.log(image)
		var startIndex = image.indexOf("base64,") + 7;
		var base64str = image.substr(startIndex);
		var decoded = atob(base64str);
		console.log("FileSize: " + decoded.length);
		
		return base64str
	}

	function cropImage(image, x, y, width, height){
		base64ImageString = isImageSizeValid(image)

		if(base64ImageString != null){
			var requestData = {
				"csrfmiddlewaretoken": "{{ csrf_token }}",
				"image": base64ImageString,
				"cropX": cropX,
				"cropY": cropY,
				"cropWidth": cropWidth,
				"cropHeight": cropHeight
			}
			displayLoadingSpinner(true)
			$.ajax({
				type: 'POST',
				dataType: "json",
				url: "{% url 'crop_image' id=request.user.id %}",
				data: requestData,
				timeout: 10000,
				success: function(data) {
					if(data.result == "success"){
						document.getElementById("id_cancel").click()
					}
					else if(data.result == "error"){
						alert(data.exception)
						document.getElementById("id_cancel").click()
					}
				},
				error: function(data) {
					console.error("ERROR...", data)
				},
				complete: function(data){
					displayLoadingSpinner(false)
				}
			});
		}
		else{
			alert("Upload an image smaller than 10 MB");
			document.getElementById("id_cancel").click()
		}
	}

	/*
		Called when a new image is selected from file chooser dialog
	*/
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
            	disableImageOverlay()
            	var image = e.target.result
            	var imageField = document.getElementById('id_profile_image_display')
                imageField.src = image
				cropper = new Cropper(imageField, {
					aspectRatio: 1/1,
					crop(event) {
						// console.log("CROP START")
						// console.log("x: " + event.detail.x);
						// console.log("y: " + event.detail.y);
						// console.log("width: " + event.detail.width);
						// console.log("height: " + event.detail.height);
						setImageCropProperties(
							image,
							event.detail.x,
							event.detail.y,
							event.detail.width,
							event.detail.height
						)
					},
				});
            };
            reader.readAsDataURL(input.files[0]);
        }
    };

    function setImageCropProperties(image, x, y, width, height){
		imageFile = image
		cropX = x
		cropY = y
		cropWidth = width
		cropHeight = height
	}

</script>
{% endblock content %}