{% extends 'profile.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">



<div class="container" >
  <div class="content-center">
    <div class="cc-profile-image"><a href="#"><img src={{user.profile_image.url}} alt="Image"/></a></div>
    <div class="h2 title">{{user.username}}</div>
  </div>
</div>



<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="profile-nav col-md-3">
        <div class="panel">
               <ul class="nav nav-stacked">
                <li ><a href="{% url 'profile' user.id %}"> <i class="fa fa-user"></i> Profile</a></li>
                <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li>
                <li class="active"><a href="{% url 'updateprofile' user.id %}"> <i class="fa fa-edit"></i> Edit profile</a></li>
            </ul>
        </div>
    </div>
  
    <div class="profile-info col-md-9">
        {% comment %} <div class="panel">
            
        </div> {% endcomment %}
        <div class="panel">
            <div class="bio-graph-heading">
                Edit your profile 
            </div>
            
                <form method="POST" style="position:right;">
                    {% csrf_token %}
                   {% for p in form  %}
                      {{p.label_tag}} 
                       {{p}}
                   {% endfor %}
                   {% for field in form %}
					<p>
					{% for error in field.errors %}
					<p style="color: red">{{ error }}</p>
					{% endfor %}
					</p>
					{% endfor %}
					{% if form.non_field_errors %}
					<div style="color: red">
					<p>{{form.non_field_errors}}</p>
					</div>

					{% endif %}
                   <div style=" height: 45px; margin: 35px 0;">
                    <input style="height: 100%;
                    width: 100%;
                    border-radius: 5px;
                    border: none;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    background: linear-gradient(135deg, #ffcb05, #ec1c24);" type="submit" value="Edit">
                  </div>
                   </form>
         
        </div>
        <div>
           
        </div>
    </div>
    
    </div>

  </div>

{% endblock content %}