{% extends 'base.html' %}
{% load static %}
{% load filter_tags %}
{% load widget_tweaks %}
{% block page_header %}{% endblock page_header %}
{% block content %}
<style>
   .blog-slider {
      width: 800px;
      height: 600px;
      position:relative;
      left:20%;
    }
    .blog-wrapper {
      overflow: hidden;
      position: relative;
      background: #222;
      z-index: 1;
    }
    #blog-items {
      width:5000px;
      position: relative;
      top: 0;
      left:0px;
    }
    #blog-items.shifting {
      transition: left .2s ease-out;
    }
    .blog-slide {
      width: 800px;
      height: 600px;
      cursor: pointer;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all 1s;
      position: relative;
      background: #ffff;
      
    }
    .blog-control {
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 20px;
      margin-top: -20px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
    
    .blog-prev,
    .blog-next {
      background-size: 22px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    .blog-prev {
      background-image: url(ChevronLeft.png);
      left: -20px;
    }
    .blog-next {
      background-image: url(ChevronRight-512.png);
      right: -20px;
    }
    .blog-prev:active,
    .blog-next:active {
      transform: scale(0.8);
    }
</style>
 <!-- next match wl vs equipe bejnabeha   -->
 <div class="matchs-info" style="background-color:#d8302f;">
    <div class="col-md-6 col-sm-6 col-xs-12">
       <div class="row" >
          <div class="full" >
                           <div class="news-post-detail">
                              <div style="text-align:center;">
                                <img  style="border-style:solid;border-width:8px;border-color:white;margin-top:5%;left:20%;" src="{{nextevent.image.url}}" alt="" height="200px" width="50%"  style="object-fit:cover" >
                              </div>
                              
                                 <h4 style="color:white;text-align:center;margin-top:2%;font-size:30px;">{{nextevent}}</h4>
                   
                           </div>
          </div>
       </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
       <div class="row">
          <div class="full">
             <div class="right-match-time">
               <h2>Next Event</h2>
               <ul id="countdown-box" class="countdown">
                  <li><span id ="days" class="days">10 </span>Day </li>
                  <li><span id="hours" class="hours">5 </span>Hours </li>
                  <li><span id="minutes" class="minutes">25 </span>Minutes </li>
                  <li><span id="seconds" class="seconds">10 </span>Seconds </li>
               </ul>
               <span id="event-box">{{nextevent.date_event|date:"M d,Y H:m:s"}}</span>
             </div>
          </div>
       </div>
    </div>
 </div>

 <!-- contenu ella 9bal video lkoll   -->
 <section id="contant" class="contant">
    <div class="container">
       <div class="row">

          <!-- contenu ella 3ala jnab  -->
          <div class="col-lg-4 col-sm-4 col-xs-12">
            {% comment %} <div class="content-widget top-story" style="background: url(images/top-story-bg.jpg);">
               <div class="top-stroy-header">
                  <h2>Top Soccer Headlines Story <a href="#" class="fa fa-fa fa-angle-right"></a></h2>
                  <span class="date">July 05, 2017</span>
                  <h2>Other Headlines</h2>
               </div>
               <ul class="other-stroies">
                  <li><a href="#">Wenger Vardy won't start</a></li>
                  <li><a href="#">Evans: Vardy just</a></li>
                  <li><a href="#">Pires and Murray </a></li>
                  <li><a href="#">Okazaki backing</a></li>
                  <li><a href="#">Wolfsburg's Rodriguez</a></li>
                  <li><a href="#">Jamie Vardy compared</a></li>
                  <li><a href="#">Arsenal target Mkhitaryan</a></li>
                  <li><a href="#">Messi wins libel case.</a></li>
               </ul>
            </div> {% endcomment %}
             <h4>Our Last Sponsors</h4>
             <aside id="sidebar" class="left-bar">
               {% for s in sponsors  %}
                  <div class="card">
                     <img style="position:relative;left:20%;" class="image" src="{{s.image.url}}"  width="200px" height="200px">
                     <div class="">
                        <h4>{{s.nom_sponsor}}</h4>
                     </div>
                  </div>
                  <div>
                     <h2 style="display:inline;"> <span style="border-top: 1px solid #c3c3c3; width:100%; display: inline-block;"></span></h2>
                  </div>
               {% endfor %}
               <div class="cart-option" style="text-align:right;margin:10px;">
                  <a href="{% url 'sponsor' %}">Show All Sponsors <i class="fa-solid fa-right-to-bracket"></i></a>
               </div>
             </aside>
          </div>
          <!-- enddd contenu ella 3ala jnab -->


          <div class="col-lg-8 col-sm-8 col-xs-12">
            {% for e in events %}
             <div class="news-post-holder">
                <div class="news-post-widget">
                   <img class="img-responsive"src="{{e.image.url}}" alt="" height="200px" width="100%"  style="object-fit:cover">
                   <div class="news-post-detail">
                      <span class="date">{{e.date_event|date:"d M Y , H:m"}} at {{e.location_event}}</span>
                      <h2><a href="blog-detail.html">{{e.title_event}}</a></h2>
                      <p>{{e.description_event}}</p>
                   </div>
                </div>
             </div>
             {% endfor %}
             <div class="cart-option" style="text-align:right;">
               <a href="{% url 'event' %}">Show All Events <i class="fa-solid fa-right-to-bracket"></i></a>
               </div>
          </div>

       </div>
    </div>
 </section>
 
 <!-- partie video   -->
 <section>
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="full">
                <div class="main-heading sytle-2">
                   <h2>Blogs</h2>
                   {% comment %} <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium<br>doloremque laudantium, totam rem aperiam</p> {% endcomment %}
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="video_section_main theme-padding middle-bg vedio" >
    <div class="container">
       <div class="row" >
          <div class="col-md-12" >
             <div class="full" >
               <div class="match_vedio">
               <div id="blog-slider" class="blog-slider">
                  <div class="blog-wrapper">
                    <div id="blog-items" class="blog-items">
                     {% for p in blogs %}
                      <span class="blog-slide">
                        {% if p.post_image %}
                           <div class="feature-post small-blog" style="margin-right:10px;">
                              <div class="col-md-5">
                                 <div class="feature-img">
                                    <img src={{p.post_image.url}} class="img-responsive" alt="#" style="max-width:100%;max-height:100%;" />
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <div class="feature-cont">
                                    
                                    <div class="post-info">
                                       <img src={{p.user.profile_image.url}} alt="#" style="max-width:100%;max-height:100%;"/>
                                       <span>
                                          <h4>by {{p.user.username}}</h4>
                                          <h5>{{p.time_ago}}</h5>
                                       </span>
                                    </div>
                                    <div class="post-heading" >
                                       <h3>{{p.post_title}}</h3>
                                       {% if p.tags %}
                                          <div style="display: flex;flex-direction: row;">
                                             {% with p.tags|split:"," as tags%}
                                                {% for tag in tags %}
                                                   <p style="background-color:#e4b000;color: #ffffff; border-radius:4px;flex:initial;font-size:10px;padding:5px;margin:3px;display:inline-block;width:17%;" align="justify">
                                                   <b>{{tag}}</b></p>
                                                {% endfor %}
                                             {% endwith %}
                                          </div>
                                       {% endif %}
                                       <h5>{{p.post_date}} in {{p.post_location}}</h5>
                                       <p>{{p.post_description}}</p>
                                       
                                    </div>
                                 </div>
                              </div>
                              <div class="full">
                                 {% if not p.user.id == request.user.id %}
                                    {% if request.user.is_authenticated %}
                                       {% if p.is_participated  %}
                                       <input class="btn disabled" type="button" id="participate" data="{{p.id}}" style="position:relative;width=100%;float:right;margin:10px" value="you have participated"></input>
                                       {% else %}
                                       <input class="btn" type="button" id="participate" data="{{p.id}}" style="position:relative;width=100%;float:right;margin:10px" value="Participate"></input>
                                       {% endif %}
                                    {% else %}
                                       <input class="btn" type="button" onclick="location.href='{% url 'login' %}';"  style="position:relative;width=100%;float:right;margin:10px" value="Participate"></input>
                                    {% endif %}
                                 {% endif %}  
                                 <p style="position:absolute;bottom:0%;left:2%;font-weight:bold;" >{{p.participants}} participants</p>
                              </div>
                           </div>

                           {% else %}

                           <div class="feature-post" style="margin-right:15px;">
                              <div class="feature-img">
                              </div>
                              <div class="feature-cont">
                                 <div class="post-people">
                                    <div class="left-profile">
                                       <div class="post-info">
                                          <img src={{p.user.profile_image.url}}  alt="#" style="max-width:100%;max-height:100%;"/>
                                          <span>
                                             <h4>by {{p.user.username}}</h4>
                                             <h5>{{p.time_ago}}</h5>
                                          </span>
                                       </div>
                                       <span class="share"></span>
                                    </div>
                                 </div>
                                 <div class="post-heading">
                                    <h3> {{p.post_title}} </h3>
                                    {% if p.tags %}
                                    <div style="display: flex;flex-direction: row;">
                                       {% with p.tags|split:"," as tags%}
                                          {% for tag in tags %}
                                             <p style="background-color:#e4b000;color: #ffffff; border-radius:4px;flex:initial;font-size:10px;padding:5px;margin:3px;display:inline-block;width:17%;" align="justify">
                                             <b>{{tag}}</b></p>
                                          {% endfor %}
                                       {% endwith %}
                                    </div>
                                    {% endif %}
                                    <h5>{{p.post_date}} in {{p.post_location}}</h5>
                                    <p>{{p.post_description}}</p>                 
                                 </div>
                              </div>
                              <div class="full">
                              {% if not p.user.id == request.user.id %}
                              {% if request.user.is_authenticated %}
                                 {% if p.is_participated  %}
                                 <input class="btn disabled" type="button"  id="participate" data="{{p.id}}" style="position:relative;width=100%;float:right;margin:10px;margin-bottom:30px;margin-top:0px;" value="you have participated"></input>
                                 {% else %}
                                 <input class="btn" type="button"  id="participate" data="{{p.id}}" style="position:relative;width=100%;float:right;margin:10px;margin-bottom:30px;margin-top:0px;" value="Participate"></input>
                                 {% endif %}
                              {% else %}
                                 <input class="btn" type="button" onclick="location.href='{% url 'login' %}';"  style="position:relative;width=100%;float:right;margin:10px;margin-bottom:30px;margin-top:0px;" value="Participate"></input>
                              {% endif %}
                              {% endif %}
                                 <p style="position:absolute;left:5%;font-weight:bold;">{{p.participants}} participants</p>
                              
                              </div>
                              
                           </div>
                           
                           {% endif %}
                     
                           <div class="cart-option" style="text-align:right;margin:10px;">
                              <a href="{% url 'post' %}">Show All Blogs <i class="fa-solid fa-right-to-bracket"></i></a>
                           </div>
                      </span>  
                     {% endfor %}                    
                    </div>
                  </div>
                  <a id="blog-prev" class="blog-control blog-prev"><i class="fa-solid fa-xl fa-angle-left" style="position:relative;left:30%;top:20%;"></i></a>
                  <a id="blog-next" class="blog-control blog-next"><i class="fa-solid fa-xl fa-chevron-right" style="position:relative;left:30%;top:20%;"></i></a>
                </div>
               </div>
             </div>
          </div>
       </div>
    </div>
 </section>

 <!-- partie meet your team -->
 <div class="team-holder theme-padding">
    <div class="container">
       <div class="main-heading-holder">
          <div class="main-heading sytle-2">
             <h2>Meet Your Team</h2>
             <p></p>
          </div>
       </div>
       <div id="team-slider">
         <div class="container" id="box">
            {% for t in teams %}
            <div class="col-md-3" style="margin-top:10px;margin-bottom:10px;">
               <div class="team-column style-2" style="width:250px;height:300px;">
                  <img src={{t.team_image.url}} alt="" style="max-width:250px;max-height:400px;">
                  <div class="player-name">
                     <span class="desination-2" onclick="location.href='{% url 'singleteam' t.id  %}';" style="cursor:pointer;">Want to join ?</span>
                     <h5>{{t.team_name}}</h5>
                     <span class="player-number">{{t.n_players}}</span>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>  
         <div class="cart-option" style="text-align:right;">
            <a href="{% url 'team' %}">Show All Teams <i class="fa-solid fa-right-to-bracket"></i></a>
         </div>
      </div>
    </div>
 </div>
 {% endblock content %}