{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block header %}{% endblock header %}

{% block activepage %}
<div class="inner-information-text">
    <div class="container">
       <h3>Blog</h3>
       <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Blog</li>
       </ul>
    </div>
 </div>
 {% endblock activepage%}
 {% block imagebackground %}
 <div class="inner-page-banner" style="background-image:url('{% static 'images/new_img/img1.jpg' %}');" >
    <div class="container">
    </div>
 </div>
 {% endblock imagebackground %}
{% block content %}
<style type="text/css">

   /* Planez les effets pour les boutons */
   .form-container .btn:hover,
   .open-button:hover {
     opacity: 1;
   } 

</style>

<section id="contant" class="contant main-heading team">
   <div class="row">
      <div class="container">
         
         <div class="col-md-9" id="posts">
            {% for p in posts %}
            {% if p.post_image %}
             <div class="feature-post small-blog">
               <div class="col-md-5">
                  <div class="feature-img">
                     <img src={{p.post_image.url}} class="img-responsive" alt="#" style="max-width:100%;max-height:100%;" />
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="feature-cont">
                     
                     <div class="post-info">
                        <img src={{p.user.profile_image.url}} alt="#" style="max-width:100%;max-height:100%;"/>
                        <span>
                           <h4>by {{p.user.username}}</h4>
                           <h5>{{p.time_ago}}</h5>
                        </span>
                     </div>
                     <div class="post-heading">
                        <h3>{{p.post_title}}</h3>
                        <h5>{{p.post_date}} in {{p.post_location}}</h5>
                        <p>{{p.post_description}}</p>
                        
                        {% if p.user.id == request.user.id %}
                        <div style="float:top;width: 100%;margin: 0;padding: 0; ">
                           <div class="deleteupdate" style="position:absolute;right:0%; top :0%;">
                              <span onclick="location.href='{% url 'updatepost' p.id %}';" style="cursor:pointer;float:right; justify-content: space-between;padding: 10px;position:relative;" >
                              <i class="fa-solid fa-pencil"></i>
                             </span>
                             <span data-toggle="modal" data-target="#exampleModal" style="cursor:pointer;float:right; justify-content: space-between;padding: 10px;position:relative;">
                              <i class="fa-regular fa-trash-can"></i>
                             </span>
                           </div> 
                        </div>
                        {% endif %}
                     </div>
                  </div>
               </div>
               <div class="full">
                  {% if p.is_participated  %}
                  <input class="btn disabled" type="button" id="participate" data="{{p.id}}" style="position:relative;width=100%;float:right;margin:10px" value="you have participated"></input>
                  {% else %}
                  <input class="btn" type="button" id="participate" data="{{p.id}}" style="position:relative;width=100%;float:right;margin:10px" value="Participate"></input>
                  {% endif %}
                  <p style="position:absolute;bottom:20%;left:2%;font-weight:bold;" >{{p.participants}} participants</p>
               </div>
            </div>

            {% else %}

            <div class="feature-post">
               <div class="feature-img">
               </div>
               <div class="feature-cont">
                  <div class="post-people">
                     {% if p.user.id == request.user.id %}
                     <div class="deleteupdate" style="position:absolute;right:0%;">
                        <span onclick="location.href='{% url 'updatepost' p.id %}';" style="cursor:pointer;float:right; justify-content: space-between;padding: 10px;position:relative;" >
                        <i class="fa-solid fa-pencil"></i>
                       </span>
                       <span data-toggle="modal" data-target="#exampleModal" style="cursor:pointer;float:right; justify-content: space-between;padding: 10px;position:relative;">
                        <i class="fa-regular fa-trash-can"></i>
                        <div id="result"></div>
                       </span>
                      </div>
                      {% endif %}
                     <div class="left-profile">
                        <div class="post-info">
                           <img src={{p.user.profile_image.url}}  alt="#" style="max-width:100%;max-height:100%;"/>
                           <span>
                              <h4>by {{p.user.username}}</h4>
                              <h5>{{p.time_ago}}</h5>
                           </span>
                        </div>
                        <span class="share"></span>
                     </div>
                  </div>
                  <div class="post-heading">
                     <h3> {{p.post_title}} </h3>
                     <h5>{{p.post_date}} in {{p.post_location}}</h5>
                     <p>{{p.post_description}}
                     </p>
                  </div>
               </div>
               <div class="full">
                  {% if p.is_participated  %}
                  <input class="btn disabled" type="button"  id="participate" data="{{p.id}}" style="position:relative;width=100%;float:right;margin:10px;margin-bottom:30px;margin-top:0px;" value="you have participated"></input>
                  {% else %}
                  <input class="btn" type="button"  id="participate" data="{{p.id}}" style="position:relative;width=100%;float:right;margin:10px;margin-bottom:30px;margin-top:0px;" value="Participate"></input>
                  {% endif %}
                  <p style="position:absolute;bottom:40%;left:5%;font-weight:bold;">{{p.participants}} participants</p>
               </div>
               
            </div>
              
            {% endif %}

            <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel" style="color:#ec1c24;"><i class="fa-solid fa-triangle-exclamation" style="color:#ec1c24;"></i> Warning Message </h5>
            <button style="position:absolute;right:5%;top:10%;" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are You sure to delete this blog ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:#54c473;float:none;">Close</button>
            <a class="btn btn-sm btn-danger" style="float:none;" href="{% url 'deletepost' p.id %}">Delete</a>
          </div>
        </div>
      </div>
    </div>

          {% endfor %}
         </div>
        
         <div class="col-md-3">
            <div class="blog-sidebar" style="border: none;background: none;outline: none;">
               <div >
                  
                     <button type="button" class="btn mb-2 mb-md-0 btn-tertiary btn-block btn-round" style="background-color:hsla(46, 100%, 50%, 0.973);" >
                        <span><a href="{% url 'addpost' %}">Add your own blog</a></span>
                     </button>
                 
               </div>
            </div>
            <div class="blog-sidebar">
               <h4 class="heading">Top Categories</h4>
               <div class="category-menu">
                  <ul>
                     <li><a href="#">Cricket</a></li>
                     <li><a href="#">Football</a></li>
                     <li><a href="#">Hockey</a></li>
                     <li><a href="#">Tennis</a></li>
                     <li><a href="#">Basketball</a></li>
                     <li><a href="#">Golf</a></li>
                     <li><a href="#">Cycling</a></li>
                     <li><a href="#">Motorsports</a></li>
                  </ul>
               </div>
            </div>
            <div class="blog-sidebar">
               <h4 class="heading">Popular News</h4>
               <div class="category-menu">
                  <ul>
                     <li>
                        <span><img src="{% static 'images/profile-img2.png' %}" alt="#"></span>
                        <span>
                           <p>Two touch penalties, imaginary cards</p>
                           <p class="date">22 Feb, 2016</p>
                        </span>
                     </li>
                  </ul>
               </div>
            </div>
            <aside id="sidebar" class="left-bar">
               <div class="feature-matchs">
                  <div class="team-btw-match">
                     <ul>
                        <li>
                           <img src="{% static 'images/img-01_002.png' %}" alt="">
                           <span>Portugal</span>
                        </li>
                        <li class="vs"><span>vs</span></li>
                        <li>
                           <img src="{% static 'images/img-02.png' %}" alt="">
                           <span>Germany</span>
                        </li>
                     </ul>
                     <ul>
                        <li>
                           <img src="{% static 'images/img-03_002.png' %}" alt="">
                           <span>Portugal</span>
                        </li>
                        <li class="vs"><span>vs</span></li>
                        <li>
                           <img src="{% static 'images/img-04_003.png' %}" alt="">
                           <span>Germany</span>
                        </li>
                     </ul>
                     <ul>
                        <li>
                           <img src="{% static 'images/img-05_002.png' %}" alt="">
                           <span>Portugal</span>
                        </li>
                        <li class="vs"><span>vs</span></li>
                        <li>
                           <img src="{% static 'images/img-06.png' %}" alt="">
                           <span>Germany</span>
                        </li>
                     </ul>
                     <ul>
                        <li>
                           <img src="{% static 'images/img-07_002.png' %}" alt="">
                           <span>Portugal</span>
                        </li>
                        <li class="vs"><span>vs</span></li>
                        <li>
                           <img src="{% static 'images/img-08.png' %}" alt="">
                           <span>Germany</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </aside>
            <aside id="sidebar" class="left-bar">
               <div class="banner-sidebar">
                  <img class="img-responsive" src="{% static 'images/match-banner1.jpg' %}" alt="#">
                  <h3>Argentina vs Chile|Goals of the match | COPA </h3>
               </div>
            </aside>
            <aside id="sidebar" class="right-bar">
               <div class="banner">
                  <img class="img-responsive" src="{% static 'images/adds-3.jpg' %}" alt="#">
               </div>
            </aside>
            <aside id="sidebar" class="left-bar">
               <div class="feature-matchs">
                  <table class="table table-bordered table-hover">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>Team</th>
                           <th>P</th>
                           <th>W</th>
                           <th>L</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>1</td>
                           <td><img src="{% static 'images/img-01_004.png' %}" alt="">Liverpool</td>
                           <td>10</td>
                           <td>12</td>
                           <td>20</td>
                        </tr>
                        <tr>
                           <td>2</td>
                           <td><img src="{% static 'images/img-02_002.png' %}" alt="">Chelsea</td>
                           <td>10</td>
                           <td>12</td>
                           <td>20</td>
                        </tr>
                        <tr>
                           <td>3</td>
                           <td><img src="{% static 'images/img-03_003.png' %}" alt="">Norwich City</td>
                           <td>20</td>
                           <td>15</td>
                           <td>20</td>
                        </tr>
                        <tr>
                           <td>4</td>
                           <td><img src="{% static 'images/img-04_002.png' %}" alt="">West Brom</td>
                           <td>60</td>
                           <td>10</td>
                           <td>60</td>
                        </tr>
                        <tr>
                           <td>5</td>
                           <td><img src="{% static 'images/img-05.png' %}" alt="">sunderland</td>
                           <td>30</td>
                           <td>06</td>
                           <td>30</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </aside>
         </div>

      </div>
   </div>
   <center>
      {% if posts.has_other_pages %}
         <ul class="pagination">
        {% if posts.has_previous %}
          <li><a href="?page={{ posts.previous_page_number }}">«</a></li>
        {% else %}
          <li class="disabled"><span>«</span></li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
          {% if posts.number == i %}
         <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
         <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
          <li><a href="?page={{ posts.next_page_number }}">»</a></li>
        {% else %}
          <li class="disabled"><span>»</span></li>
        {% endif %}
         </ul>
       {% endif %}
   </center>
   
</section>


{% endblock content %}