{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock header %}

{% block activepage %}
<div class="inner-information-text">
    <div class="container">
       <h3>Blog</h3>
       <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Blog</li>
       </ul>
    </div>
 </div>
 {% endblock activepage %}
 {% block imagebackground %}
 <div class="inner-page-banner" style="background-image:url('{% static 'images/new_img/img1.jpg' %}');" >
    <div class="container">
    </div>
 </div>
 {% endblock imagebackground %}
{% block content %}
<style>

  form .button input{
    height: 100%;
    width: 50%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #ffcb05, #ec1c24);
  }
  form .button input:hover{
   /* transform: scale(0.99); */
   background: linear-gradient(-135deg,  #ffcb05, #ec1c24);
   }
</style>

<section id="contant" class="contant main-heading team">
  <div class="row">
     <div class="container">
        <div class="col-md-9">
           <div class="feature-post">
              <div class="feature-img">
              </div>
              <div class="feature-cont">
                 <div class="post-people">
                    <div class="left-profile">
                       <div class="post-info">
                          <img src="{% static 'images/profile-img.png' %}" alt="#" />
                          <span>
                             <h4>by George Kvasnikov</h4>
                             <h5>on Jun 27, 2014</h5>
                          </span>
                       </div>
                       <span class="share"></span>
                    </div>
                 </div>
                 <div class="post-heading">
                 <form method="POST" style="position:right;">
                  {% csrf_token %}
                 {% for p in form  %}
                    {{p.label_tag}} 
                     {{p}}
                 {% endfor %}
                 <div style=" height: 45px; margin: 35px 0;">
                  <input style="height: 100%;
                  width: 100%;
                  border-radius: 5px;
                  border: none;
                  color: #fff;
                  font-size: 18px;
                  font-weight: 500;
                  letter-spacing: 1px;
                  cursor: pointer;
                  transition: all 0.3s ease;
                  background: linear-gradient(135deg, #ffcb05, #ec1c24);" type="submit" value="Post">
                </div>
                 </form>
                </div>
              </div>
           </div>
           
        </div>
        
     </div>
  </div>
</section>

{% endblock content %}
