{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock header %}
{% block activepage %}
<div class="inner-information-text">
    <div class="container">
       <h3>Event</h3>
       <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Event</li>
       </ul>
    </div>
 </div>
 {% endblock activepage%}
 {% block imagebackground %}
 <div class="inner-page-banner" style="background-image:url('{% static 'images/about.png' %}');" >
    <div class="container">
    </div>
 </div>
 {% endblock imagebackground %}
 {% block content %}
 <section id="contant" class="contant">
    <div class="container">
       <div class="row">
         

         <div class="col-lg-9 col-sm-12 col-xs-12">
            <h4>{{i}}</h4>
         {% for i in events  %}
         
         <div class="news-post-holder">
            <div class="col-lg-6 col-sm-6 col-xs-12">
               <div class="news-post-widget">
                   <div style="position: absolute;" class="btn-group" >
                     <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <span class="sr-only">Toggle Dropdwon</span>
                     ></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href={% url 'updatev' i.id %}>update</a>
                        
                    </div>
                  </div>
                 <img  src="{{i.image.url}}" alt=""   height="200px" width="100%"  style="object-fit:cover" >
                 <div class="news-post-detail">
                  {% if idd == i.id  %}
                  
                  <span class="date" style="color: red;">Recommanded for you</span>
               </br>
                  {% endif  %}
                    <span class="date">{{i.date_event}}</span>
                    <h4>{{i}}</h4>
                    
                     <p><a href={% url 'even' i.id %}> {{i.description_event}} </a></p>
                    
                 </div>
               </div>
              </div>
           </div>
                   
          {% endfor %}
          <!--
{{ events }}<br/>
Has Previous: {{ events.has_previous }}<br/>
Has Next: {{ events.has_next }}<br/>
Current_Page: {{ events.number }}<br/>
Number of Pages: {{ events.paginator.num_pages }}<br/>
<hr><br/><br/>
-->

</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
   <div class="content-widget top-story" style="background: url(images/top-story-bg.jpg);">
      <div class="top-stroy-header">
         
         <h2>Categories</h2>
      </div>
      {% for i in category  %}
      <ul class="other-stroies">
         <li><a href={% url 'even' i.id %}>{{ i.category_name }}</a></li>
      </ul>
      {% endfor %}
      <li><a class="btn" href={% url 'addev' %} positian="center" >Add event</a>
      </li>
   </div>
   
</div>


</div>


</div> 


<div class="container center" >
<center><nav aria-label="Page navigation example">
<ul class="pagination">

{% if events.has_previous %}

<li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
<li class="page-item"><a class="page-link" href="?page={{ events.previous_page_number }}">previous</a></li>
{% endif %}
<!--
<li class="page-item disabled">
<a href="#" class= "page-link"> Page {{ events.number }} of {{ events.paginator.num_pages }}</a>
</li>
-->

{% for i in nums  %}
<li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">
{{ forloop.counter }}
</a> </li>

{% endfor %}

{% if events.has_next %}
<li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}">next</a></li>
<li class="page-item"><a class="page-link" href="?page={{ events.paginator.num_pages }}">last &raquo;</a></li>
{% endif %}

</ul>
</nav>
</center>
</div>
</section>
<br/></br/>

{% endblock content %}