{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock header %}
{% block activepage %}
<div class="inner-information-text">
    <div class="container">
       <h3>Sponsors</h3>
       <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Sponsors</li>
       </ul>
    </div>
 </div>
 {% endblock activepage%}
 {% block imagebackground %}
 <div class="inner-page-banner" style="background-image:url('{% static 'images/about.png' %}');" >
    <div class="container">
    </div>
 </div>
 {% endblock imagebackground %}
{% block content %}
 <section id="contant" class="contant main-heading team">
    <div class="row">
       <div class="container">
         
          
        
          
        
          
         
          {% for s in sp  %}
          <div class="col-md-3 column">
             <div class="card">
                <img class="image" src="{{s.image.url}}"  width="200px" height="200px">
                <div class="">
                   <h4>{{s.nom_sponsor}}</h4>
                 
                </div>
             </div>
          </div>
          {% endfor %}
       </div>
    </div>
 </section>
 <center>
 {% if sp.has_other_pages %}
    <ul class="pagination">
   {% if sp.has_previous %}
     <li><a href="?page={{ sp.previous_page_number }}">«</a></li>
   {% else %}
     <li class="disabled"><span>«</span></li>
   {% endif %}
   {% for i in sp.paginator.page_range %}
     {% if sp.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
     {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
     {% endif %}
   {% endfor %}
   {% if sp.has_next %}
     <li><a href="?page={{ sp.next_page_number }}">»</a></li>
   {% else %}
     <li class="disabled"><span>»</span></li>
   {% endif %}
    </ul>
  {% endif %}
</center>
{% endblock content %}

