{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock header %}
{% block activepage %}
<div class="inner-information-text">
    <div class="container">
       <h3>Teams</h3>
       <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Teams</li>
       </ul>
    </div>
 </div>
 {% endblock activepage%}

 {% block imagebackground %}
 <div class="inner-page-banner" style="background-image:url('{% static 'images/img-05.jpg' %}');" >
    <div class="container">
    </div>
 </div>
 {% endblock imagebackground %}

{% block content %}
<section id="contant" class="contant main-heading team">
 <div class="aboutus">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12">
            
             <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="full">
                    <h3 style="position:relative;width=100%;float:left;">{{team.team_name}}</h3>
                </div>
             </div>
             
             <div class="col-md-4 col-sm-4 col-xs-10">
                <div style="float:right;">
                    <div class="full">
                        {% if not is_member  and members|length < team.n_players %}
                        <a class="btn" data-toggle="modal" data-target="#exampleModal"  style="position:relative;width=100%;float:right;">Join Now</a>
                        {% elif members|length >= team.n_players %}
                        <a class="btn disabled" style="position:relative;width=100%;float:right;">Full Team </br>Sorry you can't join</a>
                        {% elif is_approved %}
                        <a class="btn" style="position:relative;width=100%;float:right;"  href={% url 'leaveteam' team.id %}>You Are A Member</br>Want To Leave ?</a>
                        {% else %}
                        <a class="btn disabled"  style="position:relative;width=100%;float:right;">Wait the admin approval</a>
                        {% endif %}
                    </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
<section id="contant" class="contant main-heading team">
 <div class="aboutus">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12">
            
             <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="full">
                   <h3>About Us </h3>
                   <p>{{team.team_about}}
                   </p>  
                   
                </div>
             </div>
             <div class="col-md-4 col-sm-4 col-xs-10">
                <div style="float:right;">
                <img class="img-responsive" src={{team.team_image.url}} alt="#" style="max-width:50%;max-height:50%;" />
                <h3 style="left:30px">Team Logo</h3>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
 <section id="contant" class="contant main-heading team">
    <div class="row">
        
        <div class="container">
            <div class="full" style="margin:30px">
                <h2>Team Members</h2>
               </div>
            {% for m in members  %}
            <div class="col-md-3 column" Style="max-width:20%;max-height:20%;">
               <div class="card" >
                  <img class="img-responsive" src={{m.user.profile_image.url}} alt="John" style="width:100%">
                  <div class="" style="margin:10px;">
                     <h5>{{m.user.username}}</h5>
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
    </div>
 </section>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h3 class="modal-title" id="exampleModalLabel" style="color:#54c473;"><i class="fa-solid fa-user-gear" style="color:#54c473;" ></i> Need admin approval</h5>
         <button style="position:absolute;right:5%;top:10%;" type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         If you are sure of this, press OK and wait until your request is approved. <i class="fa-regular fa-face-grin-hearts"></i>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:#54c473;float:none;">Cancel</button>
         <a class="btn btn-sm btn-danger" style="float:none;" href={% url 'jointeam' team.id %} >OK</a>
       </div>
     </div>
   </div>
 </div>
{% endblock content %}