{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock header %}
{% block activepage %}
<div class="inner-information-text">
    <div class="container">
       <h3>Teams</h3>
       <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Teams</li>
       </ul>
    </div>
 </div>
 {% endblock activepage%}

 {% block imagebackground %}
 <div class="inner-page-banner" style="background-image:url('{% static 'images/img-05.jpg' %}');" >
    <div class="container">
    </div>
 </div>
 {% endblock imagebackground %}

{% block content %}
 <section id="contant" class="contant main-heading team">
    <div class="row">
      <div class="container">
         
         <div id="team-slider">
           
            <div class="container">
               {% for t in teams %}
               <div class="col-md-3" >
                  <div class="team-column style-2" style="width:250px;height:300px;">
                     <img src={{t.team_image.url}} alt="" style="max-width:250px;max-height:400px;">
                     <div class="player-name">
                        <span class="desination-2" onclick="location.href='{% url 'singleteam' t.id  %}';" style="cursor:pointer;">Want to join ?</span>
                        <h5>{{t.team_name}}</h5>
                        <span class="player-number">{{t.n_players}}</span>
                     </div>
                     <div class="overlay">
                        <div class="team-detail-hover position-center-x">
                           <p>Lacus vulputate torquent mollis venenatis quisque suspendisse fermentum primis,</p>
                           <ul class="social-icons style-4 style-5">
                              <li><a class="facebook" href="#" tabindex="0"><i class="fa fa-facebook"></i></a></li>
                              <li><a class="twitter" href="#" tabindex="0"><i class="fa fa-twitter"></i></a></li>
                              <li><a class="youtube" href="#" tabindex="0"><i class="fa fa-youtube-play"></i></a></li>
                              <li><a class="pinterest" href="#" tabindex="0"><i class="fa fa-pinterest-p"></i></a></li>
                           </ul>
                           <a class="btn blue-btn" href=" /soccer/team-detail.html" tabindex="0">View Detail</a>
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
            
         </div>
        
      </div>
    </div>
 </section>
{% endblock content %}

