{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock header %}
{% block activepage %}
<div class="inner-information-text">
    <div class="container">
       <h3>Teams</h3>
       <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">Teams</li>
       </ul>
    </div>
 </div>
 {% endblock activepage%}

 {% block imagebackground %}
 <div class="inner-page-banner" style="background-image:url('{% static 'images/img-05.jpg' %}');" >
    <div class="container">
    </div>
 </div>
 {% endblock imagebackground %}

{% block content %}
 <section id="contant" class="contant main-heading team">
   
    <div class="row">
      <div class="container">
         <form id="search-form" autocomplete="off">
            {% csrf_token %}
         <input id="search_here" class="form-control mb-2" placeholder="type name of team here to search.." />
         </form>
         <div id="team-slider">
           
            <div class="container" id="box">
               {% for t in teams %}
               <div class="col-md-3" style="margin-top:10px;margin-bottom:10px;">
                  <div class="team-column style-2" style="width:250px;height:300px;">
                     <img src={{t.team_image.url}} alt="" style="max-width:250px;max-height:400px;">
                     <div class="player-name">
                        <span class="desination-2" onclick="location.href='{% url 'singleteam' t.id  %}';" style="cursor:pointer;">Want to join ?</span>
                        <h5>{{t.team_name}}</h5>
                        <span class="player-number">{{t.n_players}}</span>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>  
         </div>
      </div>
    </div>
 </section>
 <center>
   {% if teams.has_other_pages %}
      <ul class="pagination">
     {% if teams.has_previous %}
       <li><a href="?page={{ teams.previous_page_number }}">«</a></li>
     {% else %}
       <li class="disabled"><span>«</span></li>
     {% endif %}
     {% for i in teams.paginator.page_range %}
       {% if teams.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
       {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
       {% endif %}
     {% endfor %}
     {% if teams.has_next %}
       <li><a href="?page={{ teams.next_page_number }}">»</a></li>
     {% else %}
       <li class="disabled"><span>»</span></li>
     {% endif %}
      </ul>
    {% endif %}
</center>
{% endblock content %}

