{% load static %}
<!-- partie footerr -->
<footer id="footer" class="footer">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="full">
                <div class="footer-widget">
                   <div class="footer-logo">
                      <a href="#"><img src=" {% static 'images/footer-logo.png' %}" alt="#" /></a>
                   </div>
                   <p>Most of our events have hard and easy route choices as we are always keen to encourage new riders.</p>
                   <ul class="social-icons style-4 pull-left">
                      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                      <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-md-2">
             <div class="full">
                <div class="footer-widget">
                   <h3>Menu</h3>
                   <ul class="footer-menu">
                      <li><a href="{% url 'about' %}">About Us</a></li>
                      <li><a href="{% url 'team' %}">Our Team</a></li>
                      <li><a href="{% url 'sponsor' %}">Latest Sponsors</a></li>
                      <li><a href="{% url 'event' %}">Recent Events</a></li>
                      <li><a href="{% url 'post' %}">Our Blog</a></li>
                      <li><a href="{% url 'contact' %}">Contact Us</a></li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-md-3">
             <div class="full">
                <div class="footer-widget">
                   <h3>Contact us</h3>
                   <ul class="address-list">
                      <li><i class="fa fa-map-marker"></i>lot 13, V5XR+M37 Résidence Essalem II, Av. Fethi Zouhir, Cebalat Ben Ammar 2083</li>
                      <li><i class="fa fa-phone"></i>+216 70 250 000</li>
                      <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i>contact@esprit.tn</li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-md-3">
             <div class="full">
                <div class="contact-footer">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.6161226561126!2d10.187396911896743!3d36.89953069649666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb7454c6ed51%3A0x683b3ab5565cd357!2sESPRIT!5e0!3m2!1sfr!2stn!4v1663106412234!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="footer-bottom">
       <div class="container">
          <p>Copyright © 2022 Distributed by <a href="https://esprit.tn/" target="_blank">Esprit Tech</a></p>
       </div>
    </div>
 </footer>